# Dependencies
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# IDEs
*.code-workspace
!.vscode/extensions.json
.vscode
.idea
*.sublime-project
*.sublime-workspace
*.tsbuildinfo

# Build files
dist
/public/build
target

# Added by cargo
/target

# Env
.env

# Logs
logs
*.log
npm-debug.log*